body {
    margin: 0;
    background-image: url(assets/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* game state.................................. */

header {
    height: 12vh;
    border: 1px solid whitesmoke;
    background-color: rgba(245, 245, 245, 0.313);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paceBtn {
    width: 300px;
    height: 50%;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paceBtn>button {
    font-size: 2rem;
    border-radius: 15px;
    border: 1px solid rgb(47, 147, 86);
    color: rgb(47, 147, 86);
    width: 40px;
    height: 40px;
}

#heart {
    width: fit-content;
}

#heart img {
    width: 60px;
    margin: -55px 68px;
}

/* egg container.................................. */

#container {
    margin: 3% auto;
    /* تخم مرغو به این دیوه محدود کن */
    /* background-color: rgb(54, 156, 81); */
    width: 95vw;
    height: 80vh;
    position: relative;
}

#egg {
    width: fit-content;
}

#egg>img {
    width: 50px;
}

#count{
    background-color: rgba(0, 128, 0, 0.479);
    height: 60px;
    width: 140px;
    border-radius: 10px;
    margin: 10px 80px;
}

#number{
    display: inline-block;
    margin: 15px 28px;
    font-family: arial;
    font-size: 24px;
    color: white;
}

#messagebox{
  display: none;  
  background-color: rgba(0, 0, 0, 0.7);
  height: 659px;
  width: 1366px;
  margin-top: -690px;
  position: absolute;
}

#message{
    display: inline-block;
    background-color: white;
    height: 40px;
    margin-top: 240px;
    margin-left: 348px;
    padding-top: 10px;
    padding-right: 280px;
    padding-left: 240px;
    font-family: arial;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
}

#reset{
    margin: 310px 550px;
  background-color: rgb(0, 119, 255);
  height: 38px;
  width: 180px;
  color: white;
  font-family: arial;
  font-size: 24px;
  border-radius: 4px;
  border: none;
}