body {
    margin: 0;
    background-image: url(assets/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* game state.................................. */

header {
    height: 12vh;
    border: 1px solid whitesmoke;
    background-color: rgba(245, 245, 245, 0.313);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paceBtn {
    width: 300px;
    height: 50%;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#paceBtn>button {
    font-size: 2rem;
    border-radius: 15px;
    border: 1px solid rgb(47, 147, 86);
    color: rgb(47, 147, 86);
    width: 40px;
    height: 40px;
}

#heart {
    width: fit-content;
}

#heart img {
    width: 70px;
}

/* egg container.................................. */

#container {
    margin: 3% auto;
    /* تخم مرغو به این دیوه محدود کن */
    /* background-color: rgb(54, 156, 81); */
    width: 95vw;
    height: 80vh;
    position: relative;
}

#egg {
    width: fit-content;
}

#egg>img {
    width: 50px;
}