#count{
    height: 40px; 
    width: 100px;
}

#box{
    background-color: rgb(0, 153, 255);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 10px 40px;
}

#number{
    display: inline-block;
    color: white;
    font-family: arial;
    font-size: 16px;
    margin: 12px 24px;
}

#heart{
    height: 28px;
    margin: -44px 96px;
}

#messagebox{
  margin: 10px 280px;
  background:-webkit-linear-gradient(rgb(4, 199, 4) 10%, rgb(0, 174, 255));
  height: 180px;
  width: 600px;
  display: none;
}

#text{
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 00px;
  margin: 20px 15px;
  padding-top: 10px;
  padding-right: 330px;
  padding-left: 240px;
  font-family: arial;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(94, 93, 93);
}

#reset{
  margin: 10px 200px;
  background-color: rgb(0, 119, 255);
  height: 40px;
  width: 180px;
  color: white;
  font-family: arial;
  font-size: 24px;
  border: none;
}